@model T2204MDotNetCore.Models.ProductModelView
@using(Html.BeginForm("Create","Product",FormMethod.Post)){
           <div class="mb-3">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" ,placeholder ="Enter Name"})
                @Html.ValidationMessageFor(m=>m.Name)
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(m => m.CategorId)
                @Html.DropDownList("CategorId",Model.GetCategoryList(), "-- Chọn danh mục --", new { @class = "form-control" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(m => m.BrandId)
                <select name="BrandId" class="form-select" aria-label="Default select example">
                    <option selected>Choose Brand</option>
                @foreach (var c in Model.brands)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>
            </div>
            
             <div class="mb-3">
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price)
                @Html.ValidationMessageFor(m=>m.Price)
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description)
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
};
